<template>
  <v-row>
    <v-col cols="12">
      <h1 class="headline">
        Bestätigung
      </h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
  acl: 'guest',
  layout: 'guest',
  validate ({ params }) {
    // Must be a MongoDB ID
    return /^[a-f\d]{24}$/i.test(params.id)
  },
  data () {
    return {
    }
  },
  methods: {
  },
  head () {
    return {
      title: 'Bestätigung'
    }
  }
}
</script>
