<template>
  <v-form ref="form" v-model="formValid" @keyup.native.enter="formValid && submit($event)">
    <v-row>
      <v-col cols="12">
        <h1 class="headline">
          Kontaktdaten erfassen: {{ profile.companyname }}
        </h1>
      </v-col>
      <v-col cols="12">
        <v-alert type="info">
          Info...
        </v-alert>
      </v-col>
      <v-col cols="6">
        <v-text-field v-model="form.firstname" label="Vorname" type="text" :rules="[$validation.rules.required, $validation.rules.cssProtection]" required />
      </v-col>
      <v-col cols="6">
        <v-text-field v-model="form.lastname" label="Nachname" type="text" :rules="[$validation.rules.required, $validation.rules.cssProtection]" required />
      </v-col>
      <v-col cols="8">
        <v-text-field v-model="form.street" label="Straße" type="text" :rules="[$validation.rules.required, $validation.rules.cssProtection]" required />
      </v-col>
      <v-col cols="4">
        <v-text-field v-model="form.housenumber" label="Hausnummer" type="text" :rules="[$validation.rules.required, $validation.rules.housenumber]" required />
      </v-col>
      <v-col cols="4">
        <v-text-field v-model="form.zipcode" label="Postleitzahl" type="text" :rules="[$validation.rules.required, $validation.rules.zipcode]" required />
      </v-col>
      <v-col cols="8">
        <v-text-field v-model="form.city" label="Stadt" type="text" :rules="[$validation.rules.required, $validation.rules.cssProtection]" required />
      </v-col>
      <v-col cols="12">
        Nutzungsbedinungen...
      </v-col>
      <v-col cols="12">
        <v-btn :disabled="!formValid" @click="submit">
          Speichern
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  acl: 'guest',
  layout: 'guest',
  validate ({ params }) {
    // Must be a MongoDB ID
    return /^[a-f\d]{24}$/i.test(params.id)
  },
  async asyncData ({ params, app, error }) {
    try {
      const { data } = await app.$api.get(`/api/customers/profile/${params.id}`)
      return { profile: data }
    } catch (err) {
      error(err)
    }
  },
  data () {
    return {
      form: {
        firstname: '',
        lastname: '',
        street: '',
        housenumber: '',
        zipcode: '',
        city: ''
      },
      profile: {},
      formValid: false,
      error: ''
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        // eslint-disable-next-line prefer-const
        let encryptedData = {}
        // eslint-disable-next-line no-unused-vars
        const key = await this.$crypto.importKey(this.profile.publicKey, ['encrypt'])
        for (const k in this.form) {
          encryptedData[k] = await this.$crypto.encrypt(key, this.form[k])
        }
        this.$api.$post(`/api/guests/${this.$route.params.id}`, encryptedData).then((data) => {
          // this.$store.dispatch('auth/storeToken', data.token)
          this.$router.push(`/gast/${this.$route.params.id}/bestaetigung`)
        }).catch((err) => {
          this.$nuxt.error(err)
        })
      }
    }
  },
  head () {
    return {
      title: 'Kontaktdaten erfassen'
    }
  }
}
</script>
