<template>
  <v-app>
    <v-app-bar dense flat dark app>
      <v-container class="d-flex flex-row">
        <v-tabs v-if="loggedInUser" align-with-title class="d-none d-sm-flex" background-color="#272727">
          <v-tab to="/">
            Start
          </v-tab>
          <v-tab to="/kontaktdaten">
            Kontaktdaten
          </v-tab>
          <v-tab to="/einstellungen">
            Einstellungen
          </v-tab>
        </v-tabs>
        <v-spacer />
        <v-btn v-if="loggedInUser" icon class="d-none d-sm-flex" @click="$store.dispatch('auth/removeToken').then(() => $router.push('/login'))">
          <v-icon>logout</v-icon>
        </v-btn>
        <v-app-bar-nav-icon v-if="loggedInUser" class="d-flex d-sm-none" @click.stop="drawer = !drawer" />
      </v-container>
    </v-app-bar>
    <v-navigation-drawer v-if="loggedInUser" v-model="drawer" absolute temporary>
      <v-list>
        <v-list-item-group v-model="group">
          <v-list-item to="/">
            <v-list-item-title>Start</v-list-item-title>
          </v-list-item>
          <v-list-item to="/kontaktdaten">
            <v-list-item-title>Kontaktdaten</v-list-item-title>
          </v-list-item>
          <v-list-item to="/einstellungen">
            <v-list-item-title>Einstellungen</v-list-item-title>
          </v-list-item>
          <v-list-item v-if="loggedInUser" @click="$store.dispatch('auth/removeToken').then(() => $router.push('/login'))">
            <v-list-item-title>Abmelden</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <v-overlay :value="$store.state.spinner === true">
          <v-progress-circular indeterminate size="64" />
        </v-overlay>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer dark>
      <v-layout column align-center>
        <div>
          Made with
          <v-icon color="red">
            favorite
          </v-icon>
          in Düsseldorf
        </div>
      </v-layout>
    </v-footer>
  </v-app>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    drawer: false,
    group: null
  }),
  computed: {
    ...mapGetters({
      loggedInUser: 'auth/loggedInUser'
    })
  },
  watch: {
    group () {
      this.drawer = false
    }
  }
}
</script>
<style>
  .logo {
    height: 40px;
  }
  body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
</style>
