<template>
  <v-alert type="error" text outlined>
    <p class="headline">
      Es ist ein Fehler aufgetreten
    </p>
    <p class="body-1">
      {{ error.message }}
    </p>
    <pre v-if="error.response && error.response.data" class="body-2">
      {{ error.response.data }}
    </pre>
  </v-alert>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
