<template>
  <v-app>
    <v-app-bar dense flat dark app>
      <v-container class="d-flex flex-row" />
    </v-app-bar>
    <v-content>
      <v-container>
        <v-overlay :value="$store.state.spinner === true">
          <v-progress-circular indeterminate size="64" />
        </v-overlay>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer dark>
      <v-layout column align-center>
        <div>
          Made with
          <v-icon color="red">
            favorite
          </v-icon>
          in Düsseldorf
        </div>
      </v-layout>
    </v-footer>
  </v-app>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    drawer: false,
    group: null
  }),
  computed: {
    ...mapGetters({
      loggedInUser: 'auth/loggedInUser'
    })
  },
  watch: {
    group () {
      this.drawer = false
    }
  }
}
</script>
<style>
  .logo {
    height: 40px;
  }
  body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
</style>
