<template>
  <v-row>
    <v-col cols="3">
      <v-navigation-drawer permanent>
        <v-list>
          <v-list-item to="/einstellungen/profil">
            <v-list-item-content>
              <v-list-item-title>Profil</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item disabled>
            <v-list-item-content>
              <v-list-item-title>Sicherheit</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item disabled>
            <v-list-item-content>
              <v-list-item-title>Account</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-col>
    <v-col cols="8" offset="1">
      <nuxt-child />
    </v-col>
  </v-row>
</template>

<script>
export default {
  acl: true,
  data () {
    return {
    }
  },
  head () {
    return {
      title: 'Einstellungen'
    }
  }
}
</script>
