<template>
  <v-row>
    <v-col cols="12">
      <h1 class="headline">
        Willkommen
      </h1>
    </v-col>
    <v-col v-if="isAuthenticated == false" cols="12">
      <v-btn to="/registrierung">
        Registrieren
      </v-btn>
      <v-btn to="/login">
        Anmelden
      </v-btn>
    </v-col>
    <v-col cols="12" md="8">
      <!-- -->
    </v-col>
    <v-col v-if="isAuthenticated && customer" cols="12" md="4" class="text-center">
      <v-card outlined>
        <v-card-title>
          QR-Code für die Gäste
        </v-card-title>
        <v-card-text>
          <VueQrcode id="qrcode" :value="domain + '/gast/' + customer.id" :options="{ width: 250 }" />
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" text @click="qrCodeDownload">
            <v-icon left>
              save_alt
            </v-icon>
            Herunterladen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import VueQrcode from '@chenfengyuan/vue-qrcode'

export default {
  acl: false,
  components: {
    VueQrcode
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      customer: 'customer/customerProfile'
    }),
    domain () {
      return window.location.origin
    }
  },
  methods: {
    qrCodeDownload () {
      const canvas = document.getElementById('qrcode')
      const img = canvas.toDataURL('image/png')

      const encodedUri = encodeURI(img)
      const link = document.createElement('a')
      link.setAttribute('href', encodedUri)
      link.setAttribute('download', 'qrcode.png')
      document.body.appendChild(link)
      link.click()
    }
  },
  head () {
    return {
      title: 'Willkommen'
    }
  }
}
</script>
