<template>
  <v-row align-content="space-between">
    <v-col cols="12">
      <h1 class="headline">
        Kontaktdaten
      </h1>
    </v-col>
    <v-col cols="12" sm="3">
      <v-btn @click="fetchData">
        Lade Daten
      </v-btn>
    </v-col>
    <v-col cols="12" sm="3">
      <v-dialog
        v-model="decryptionDialog.active"
        width="500"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            :disabled="datalist.length === 0"
            v-on="on"
            @click="decryptionDialog.error = null"
          >
            <v-icon left>
              lock_open
            </v-icon>
            entschlüsseln
          </v-btn>
        </template>

        <v-card>
          <v-form ref="decryptionDialogForm" v-model="form.valid">
            <v-card-title
              class="headline grey lighten-2"
            >
              Daten entschlüsseln
            </v-card-title>
            <v-spacer />
            <v-card-text>
              <p class="body-2 font-regular">
                Für das Entschlüsseln der Daten wird Ihr privater Schlüssel benötigt.

                Diesen haben Sie bei der Enrichtung mit einer Passphrase geschützt.

                Bitte geben Sie die Passphrase ein um mit der Entschlüsselung der Daten zu beginnen.
              </p>
              <v-text-field
                v-model="form.passphrase"
                :disabled="datalist.length == 0"
                label="Passphrase"
                type="password"
                :rules="[$validation.rules.required, $validation.rules.passphraseMinLength]"
                required
              />
              <v-alert v-if="decryptionDialog.error" type="error">
                {{ decryptionDialog.error }}
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" text :disabled="!form.valid || decryptionDialog.loading" :loading="decryptionDialog.loading" @click="decrypt">
                <v-icon left>
                  lock_open
                </v-icon>
                entschlüsseln
              </v-btn>
              <v-btn text @click="decryptionDialog.active = false">
                Abbrechen
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-col>
    <v-col cols="12" sm="3">
      <div>
        <v-menu
          v-model="exportMenu.active"
          :close-on-content-click="false"
          offset-y
        >
          <template v-slot:activator="{ on }">
            <v-btn
              :disabled="!decrypted"
              v-on="on"
            >
              <v-icon left>
                save_alt
              </v-icon>
              Exportieren
            </v-btn>
          </template>
          <v-card>
            <v-list>
              <v-list-item>
                <v-list-item-action>
                  <v-select
                    v-model="exportMenu.format"
                    :items="exportMenu.formats"
                    label="Format"
                  />
                </v-list-item-action>
              </v-list-item>
            </v-list>
            <v-card-actions>
              <v-btn color="primary" text @click="exportMenu.active = false; fileexport(exportMenu.format)">
                <v-icon left>
                  save_alt
                </v-icon>
                Herunterladen
              </v-btn>
              <v-btn text @click="exportMenu.active = false">
                Abbrechen
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </div>
    </v-col>
    <v-col cols="12">
      <v-simple-table>
        <thead>
          <tr>
            <th>Start</th>
            <th>Ende</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Straße</th>
            <th>Hausnummer</th>
            <th>Postleitzahl</th>
            <th>Stadt</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in datalist" :key="item._id">
            <td v-if="item.checkin">
              {{ $moment(item.checkin).format('L - LT') }}
            </td>
            <td v-else>
              /
            </td>
            <td v-if="item.checkout">
              {{ $moment(item.checkout).format('L - LT') }}
            </td>
            <td v-else>
              /
            </td>
            <td v-if="item.decryptedFirstname">
              {{ item.decryptedFirstname }}
            </td>
            <td v-else>
              {{ item.firstname.slice(0,10) + '...' }}
            </td>
            <td v-if="item.decryptedLastname">
              {{ item.decryptedLastname }}
            </td>
            <td v-else>
              {{ item.lastname.slice(0,10) + '...' }}
            </td>
            <td v-if="item.decryptedStreet">
              {{ item.decryptedStreet }}
            </td>
            <td v-else>
              {{ item.street.slice(0,10) + '...' }}
            </td>
            <td v-if="item.decryptedHousenumber">
              {{ item.decryptedHousenumber }}
            </td>
            <td v-else>
              {{ item.housenumber.slice(0,10) + '...' }}
            </td>
            <td v-if="item.decryptedZipcode">
              {{ item.decryptedZipcode }}
            </td>
            <td v-else>
              {{ item.zipcode.slice(0,10) + '...' }}
            </td>
            <td v-if="item.decryptedCity">
              {{ item.decryptedCity }}
            </td>
            <td v-else>
              {{ item.city.slice(0,10) + '...' }}
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-col>
  </v-row>
</template>

<script>
import _ from 'lodash'

export default {
  acl: true,
  data () {
    return {
      datalist: [],
      privateKey: null,
      decrypted: false,
      form: {
        valid: false,
        passphrase: null
      },
      exportMenu: {
        active: false,
        format: 'xls',
        formats: ['xls', 'csv', 'json', 'txt']
      },
      decryptionDialog: {
        loading: false,
        active: false,
        error: null
      }
    }
  },
  methods: {
    async fetchData () {
      this.datalist = await this.$api.$get('/api/customers/guests')
    },
    async decrypt () {
      this.decryptionDialog.loading = true
      let privateKeyJWK = null
      try {
        privateKeyJWK = await this.$crypto.decryptKey(this.$store.state.customer.profil.encyptedPrivateKey, this.form.passphrase)
      } catch (error) {
        this.decryptionDialog.error = 'Die Entschlüsselung des privaten Schlüssels ist fehlgeschlage. Bitte prüfen Sie die eingegebene Passphrase.'
        this.decryptionDialog.loading = false
        return
      }
      this.privateKey = await this.$crypto.importKey(privateKeyJWK, ['decrypt'])
      this.datalist = await Promise.all(_.map(this.datalist, async (i) => {
        i.decryptedFirstname = await this.$crypto.decrypt(this.privateKey, i.firstname)
        i.decryptedLastname = await this.$crypto.decrypt(this.privateKey, i.lastname)
        i.decryptedStreet = await this.$crypto.decrypt(this.privateKey, i.street)
        i.decryptedHousenumber = await this.$crypto.decrypt(this.privateKey, i.housenumber)
        i.decryptedZipcode = await this.$crypto.decrypt(this.privateKey, i.zipcode)
        i.decryptedCity = await this.$crypto.decrypt(this.privateKey, i.city)
        return i
      }))
      this.decrypted = true
      this.decryptionDialog.loading = false
      this.decryptionDialog.active = false
    },
    fileexport (format) {
      let encodedUri = null
      let filename = 'kontaktdaten'
      // eslint-disable-next-line prefer-const
      let dataList = []
      this.datalist.forEach((item) => {
        dataList.push({
          checkin: item.checkin,
          checkout: item.checkout || '',
          vorname: item.decryptedFirstname,
          nachname: item.decryptedLastname,
          straße: item.decryptedStreet,
          hausnummer: item.decryptedHousenumber,
          postleitzahl: item.decryptedZipcode,
          stadt: item.decryptedCity
        })
      })
      const keys = Object.keys(dataList[0])

      if (format === 'csv') {
        let csvContent = ''
        csvContent += keys.join(';') + '\r\n'
        dataList.forEach((item) => {
          for (const v in item) {
            csvContent += item[v] + ';'
          }
          csvContent += '\r\n'
        })
        encodedUri = 'data:text/csv; charset=utf-8,' + encodeURIComponent('\uFEFF' + csvContent)
        filename += '.csv'
      } else if (format === 'json') {
        encodedUri = encodeURI('data:application/json;charset=utf-8,' + JSON.stringify(dataList))
        filename += '.json'
      } else if (format === 'txt') {
        let content = 'data:text/plain;charset=utf-8,'
        content += keys.join(',') + '\r\n'

        dataList.forEach((item) => {
          for (const v in item) {
            content += item[v] + ','
          }
          content += '\r\n'
        })
        encodedUri = encodeURI(content)
        filename += '.txt'
      } else if (format === 'xls') {
        const uri = 'data:application/vnd.ms-excel;base64,'
        const template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        const base64 = (s) => {
          return window.btoa(unescape(encodeURIComponent(s)))
        }

        const format = (s, c) => {
          return s.replace(/{(\w+)}/g, (m, p) => {
            return c[p]
          })
        }

        let htmls = '<tr>'
        keys.forEach((item) => {
          htmls += `<td>${item}</td>`
        })
        htmls += '</tr>'

        dataList.forEach((item) => {
          htmls += '<tr>'
          for (const v in item) {
            htmls += `<td>${item[v]}</td>`
          }
          htmls += '</tr>'
        })

        const ctx = {
          worksheet: 'Worksheet',
          table: htmls
        }

        filename += '.xls'
        encodedUri = uri + base64(format(template, ctx))
      }
      const link = document.createElement('a')
      link.setAttribute('href', encodedUri)
      link.setAttribute('download', filename)
      document.body.appendChild(link)
      link.click()
    }
  },
  head () {
    return {
      title: 'Kontaktdaten'
    }
  }
}
</script>
