<template>
  <v-form ref="form" v-model="formValid" @keyup.native.enter="formValid && submit($event)">
    <v-row>
      <v-col cols="12">
        <h1 class="headline">
          Anmelden
        </h1>
      </v-col>
      <v-col cols="12">
        <v-text-field v-model="form.email" label="E-Mail Adresse" type="text" :rules="[$validation.rules.required, $validation.rules.email]" required />
      </v-col>
      <v-col cols="12">
        <v-text-field v-model="form.password" label="Passwort" type="password" :rules="[$validation.rules.required, $validation.rules.passwordMinLength]" required />
      </v-col>
      <v-col v-if="error !== ''" cols="12">
        <v-alert type="error">
          {{ error }}
        </v-alert>
      </v-col>
      <v-col cols="12">
        <v-btn :disabled="!formValid" @click="submit">
          Anmelden
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  acl: 'guest',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      formValid: false,
      error: ''
    }
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.$api.$post('/api/users/authenticate', this.form).then((data) => {
          this.$store.dispatch('auth/storeToken', data.token)
          this.$router.push('/')
        }).catch((err) => {
          if (err.response && err.response.data && err.response.data.error) {
            if (err.response.data.error.name && err.response.data.error.name === 'authenticationError') {
              this.error = 'Die eingegebenen Zugangsdaten stimmen nicht.'
            } else {
              this.$nuxt.error(err)
            }
          } else {
            this.$nuxt.error(err)
          }
        })
      }
    }
  },
  head () {
    return {
      title: 'Anmelden'
    }
  }
}
</script>
