<template>
  <v-row>
    <v-col cols="12">
      <h1 class="headline">
        Registrierung
      </h1>
    </v-col>
    <v-col cols="12">
      <v-stepper v-model="stepper" vertical>
        <v-stepper-step :complete="stepper > 1" step="1">
          Ihre Daten
        </v-stepper-step>
        <v-stepper-content step="1">
          <v-form ref="customerDataForm" v-model="valid.customerDataForm" @keyup.native.enter="valid.customerDataForm && (stepper = 2)">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="customerDataForm.companyname"
                  label="Firmenname"
                  type="text"
                  name="companyname"
                  :rules="[$validation.rules.required, $validation.rules.cssProtection]"
                  required
                />
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="customerDataForm.street"
                  label="Straße"
                  type="text"
                  name="street"
                  autocomplete="shipping address-line1"
                  :rules="[$validation.rules.required, $validation.rules.cssProtection]"
                  required
                />
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                  v-model="customerDataForm.housenumber"
                  label="Hausnummer"
                  type="text"
                  name="housenumber"
                  autocomplete="shipping address-line2"
                  :rules="[$validation.rules.required, $validation.rules.housenumber, $validation.rules.cssProtection]"
                  required
                />
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                  v-model="customerDataForm.zipcode"
                  label="Postleitzahl"
                  type="text"
                  name="zipcode"
                  autocomplete="shipping postal-code"
                  :rules="[$validation.rules.required, $validation.rules.zipcode]"
                  required
                />
              </v-col>
              <v-col cols="12" md="9">
                <v-text-field
                  v-model="customerDataForm.city"
                  label="Stadt"
                  type="text"
                  name="city"
                  autocomplete="shipping locality"
                  :rules="[$validation.rules.required, $validation.rules.cssProtection]"
                  required
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="customerDataForm.email"
                  label="E-Mail Adresse"
                  type="text"
                  name="email"
                  autocomplete="email"
                  :rules="[$validation.rules.required, $validation.rules.email]"
                  required
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="customerDataForm.password"
                  label="Passwort"
                  type="password"
                  name="password"
                  :rules="[$validation.rules.required, $validation.rules.passwordMinLength]"
                  required
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="customerDataForm.password2"
                  label="Passwort Bestätigung"
                  type="password"
                  name="password-confirmation"
                  :rules="[$validation.rules.required, $validation.rules.passwordMinLength, rules.passwordMatch]"
                  required
                />
              </v-col>
              <v-col cols="12">
                Nutzungsbedinungen...
              </v-col>
              <v-col cols="12">
                <v-btn
                  color="primary"
                  :disabled="!valid.customerDataForm"
                  @click="stepper = 2"
                >
                  Weiter
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-stepper-content>
        <v-stepper-step :complete="stepper > 2" step="2">
          Sicherheit
        </v-stepper-step>
        <v-stepper-content step="2">
          <v-form ref="encryptionForm" v-model="valid.encryptionForm" @keyup.native.enter="valid.encryptionForm && (stepper = 3)">
            <v-row>
              <v-col cols="12">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="encryptionForm.passphrase" label="Passphrase" type="password" :rules="[$validation.rules.required, $validation.rules.passphraseMinLength, rules.passwordPassphraseUnequal]" required />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field v-model="encryptionForm.passphrase2" label="Passphrase Bestätigung" type="password" :rules="[$validation.rules.required, $validation.rules.passphraseMinLength, rules.passphraseMatch]" required />
              </v-col>
              <v-col cols="12">
                <v-btn
                  color="primary"
                  :disabled="!valid.encryptionForm"
                  @click="stepper = 3"
                >
                  Weiter
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-stepper-content>
        <v-stepper-step :complete="stepper > 3" step="3">
          Abschließen
        </v-stepper-step>
        <v-stepper-content step="3">
          <v-row>
            <v-col cols="12">
              <v-alert v-if="error" type="error">
                {{ error }}
              </v-alert>
            </v-col>
            <v-col cols="12">
              <v-btn
                color="primary"
                :disabled="loading"
                :loading="loading"
                @click="submit"
              >
                Abschließen
              </v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-col>
  </v-row>
</template>

<script>
export default {
  acl: 'guest',
  data () {
    return {
      stepper: 1,
      loading: false,
      valid: {
        customerDataForm: false,
        encryptionForm: false
      },
      rules: {
        passwordMatch: value => (value === this.customerDataForm.password) || 'Beide Eingaben müssen übereinstimmen!',
        passphraseMatch: value => (value === this.encryptionForm.passphrase) || 'Beide Eingaben müssen übereinstimmen!',
        passwordPassphraseUnequal: value => (this.customerDataForm.password !== this.encryptionForm.passphrase) || 'Password und Passphrase dürfen nicht übereinstimmen sein!'
      },
      customerDataForm: {
        companyname: '',
        street: '',
        housenumber: '',
        zipcode: '',
        city: '',
        email: '',
        password: '',
        password2: ''
      },
      encryptionForm: {
        passphrase: null,
        passphrase2: null
      },
      error: ''
    }
  },
  methods: {
    async submit () {
      if (this.$refs.customerDataForm.validate() && this.$refs.encryptionForm.validate()) {
        this.loading = true
        const keyPair = await this.$crypto.generateKeypair()
        const publicKey = await this.$crypto.exportKey(keyPair.publicKey)
        const privateKey = keyPair.privateKey
        const encyptedPrivateKey = await this.$crypto.encryptKey(privateKey, this.encryptionForm.passphrase)

        // eslint-disable-next-line prefer-const
        let query = {
          ...this.customerDataForm,
          publicKey,
          encyptedPrivateKey
        }
        delete query.valid
        this.$api.$post('/api/customers/register', query).then((data) => {
          this.loading = false
          this.$store.dispatch('auth/storeToken', data.token)
          this.$router.push('/')
        }).catch((err) => {
          this.loading = false
          if (err.response && err.response.data && err.response.data.error) {
            if (err.response.data.error.name && err.response.data.error.name === 'duplicateKeyError') {
              this.error = 'Die eingegebenen E-Mail Adresse wird bereits verwendet.'
            } else {
              this.$nuxt.error(err)
            }
          } else {
            this.$nuxt.error(err)
          }
        })
      }
    }
  },
  head () {
    return {
      title: 'Registrierung'
    }
  }
}
</script>
