<template>
  <v-row no-gutters>
    <v-col cols="12">
      <h1 class="headline">
        Profil
      </h1>
    </v-col>
    <v-col v-if="customer && loggedInUser">
      <v-row>
        <v-col cols="12">
          <h2 class="title">
            Unternehmensdaten
          </h2>
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Unternehmen
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.companyname }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Straße
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.street }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Hausnummer
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.housenumber }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Postleitzahl
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.zipcode }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Stadt
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.city }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          E-Mail
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ customer.email }}
        </v-col>
        <v-col cols="12">
          <h2 class="title">
            Benutzerdaten
          </h2>
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          E-Mail
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ loggedInUser.email }}
        </v-col>
        <v-col cols="12" md="6" class="subtitle-1">
          Rolle
        </v-col>
        <v-col cols="12" md="6" class="body-1">
          {{ loggedInUser.role }}
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  acl: true,
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      loggedInUser: 'auth/loggedInUser',
      customer: 'customer/customerProfile'
    })
  },
  head () {
    return {
      title: 'Profil'
    }
  }
}
</script>
